---
http_interactions:
- request:
    method: put
    uri: https://verificationapi-v1.sinch.com/verification/v1/verifications/number/+14165553555
    body:
      encoding: UTF-8
      string: '{"method":"sms","sms":{"code":"2782"}}'
    headers:
      Content-Type:
      - application/json
      X-Timestamp:
      - '2017-10-01T23:00:00Z'
      Authorization:
      - Application AREDACTEDKEY
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
    body:
      encoding: UTF-8
      string: '{"id":"323208e2-5e06-4f89-9109-febe2422e715","method":"sms","status":"SUCCESSFUL"}'
  recorded_at: Sun, 01 Oct 2017 23:00:00 GMT
recorded_with: VCR 2.9.3
