---
http_interactions:
- request:
    method: post
    uri: https://verificationapi-v1.sinch.com/verification/v1/verifications
    body:
      encoding: UTF-8
      string: '{"identity":{"type":"number","endpoint":"+14165553555"},"method":"sms"}'
    headers:
      Content-Type:
      - application/json
      X-Timestamp:
      - '2017-10-01T23:00:00Z'
      Authorization:
      - Application AREDACTEDKEY
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Language:
      - en-US
      Content-Type:
      - application/json; charset=utf-8
    body:
      encoding: UTF-8
      string: '{"id":"323208e2-5e06-4f89-9109-febe2422e715","sms":{"template":"Your
        verification code is {{CODE}}","interceptionTimeout":120},"method":"sms"}'
  recorded_at: Sun, 01 Oct 2017 23:00:00 GMT
recorded_with: VCR 2.9.3
